@font-face{

font-family: 'socialico';
src: url('../fonts/socialico.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'QuattrocentoSans-Regular';
src: url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
